* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  min-width: 320px;
  margin: 0;
  font-family: $font-family;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  overflow-anchor: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.link-reset {
  text-decoration: none;
  color: currentColor;
}

.btn-reset {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.input-reset,
.textarea-reset {
  border: none;
  background-color: transparent;
  box-shadow: none;
}

.container {
  max-width: 1790px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  margin: 0;
  font-family: "Chronicle Display";
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;
}

.subtitle {
  margin: 0;
  line-height: 32px;
}

.uptitle {
  margin: 0;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #fbd784;
}

.link {
  border-bottom: 2px solid transparent;

  &:hover {
    border-bottom: 2px solid currentColor;
  }
}
