* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #6b7280;
  min-width: 320px;
  margin: 0;
  font-family: $font-family;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  overflow-anchor: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.link-reset {
  text-decoration: none;
  color: currentColor;
}

.btn-reset {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.input-reset,
.textarea-reset {
  border: none;
  background-color: transparent;
  box-shadow: none;
}

.container {
  max-width: 1790px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  margin: 0;
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
  color: #1f2937;
}

.subtitle {
  margin: 0;
}

.uptitle {
  margin: 0;
}

.link {
  border-bottom: 2px solid transparent;

  &:hover {
    border-bottom: 2px solid currentColor;
  }
}

.btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #3730a3;
  padding: 12px 32px;
  border: 1px solid #3730a3;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #3730a3;
    color: #fff;
  }
}
